<mat-toolbar class="header secondary">
  <span 
    class="title animate__animated animate__faster"
    [class.animate__fadeIn]="!searchMode" 
    [class.animate__fadeOut]="searchMode"
    style="font-size: 17px;"
    >Students
    <ion-badge class="toolbar-badge" *ngIf="noOfStudents">
      {{ noOfStudents }}
    </ion-badge>
  </span>

  <span class="spacer"
    [class.animate__fadeIn]="!searchMode" 
    [class.animate__fadeOut]="searchMode"></span>

    <button mat-icon-button [matTooltip]="searchMode ? 'Cancel Search' : 'Search'" 
      class="animate__animated animate__faster"
      [class.animate__fadeIn]="!searchMode" 
      [class.animate__fadeOut]="searchMode" (click)="enterSearchMode()" (click)="inputElem.setFocus()">
      <mat-icon>{{ searchMode ? 'search_off' : 'search'}}</mat-icon>
    </button>

  <div class="search-form ion-padding animate__animated animate__faster" [class.ion-hide]="inputFirstLoad"
  [class.animate__fadeInRight]="searchMode && !inputFirstLoad" [class.animate__fadeOutRight]="!searchMode && !inputFirstLoad">
    <button mat-icon-button (click)="exitSearchMode()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <ion-item lines="none">
      <ion-input #inputElem placeholder="Search..." [(ngModel)]="searchString" (ngModelChange)="search()" [debounce]="1000"></ion-input>
    </ion-item>
  </div>

  <div class="toolbar-underline animate__animated animate__faster"
  [class.animate__fadeInRight]="searchMode" [class.animate__fadeOutRight]="!searchMode"></div>
</mat-toolbar>

<ion-content class="main-content">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>

  <ion-text *ngIf="showError"><h5 class="ion-padding ion-text-center">{{ errMessage }}</h5></ion-text>
  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  
  <div *ngIf="!searchMode" class="detail-cards-container">
    <div class="detail-card" *ngFor="let card of cards">
      <app-detail-card (btnClick)="view(card)"
        [showImage]="card.showImage" 
        [altImage]="card.altImage" 
        [imageText]="card.imageText" 
        [detailsData]="card.details"
        [imgSrc]="card.imageSrc"></app-detail-card>
    </div>
  </div>
      
  <div *ngIf="searchMode" class="detail-cards-container">
    <div class="detail-card" *ngFor="let card of filterCards">
      <app-detail-card (btnClick)="view(card)"
      [showImage]="card.showImage" [altImage]="card.altImage" [imgSrc]="card.imageSrc"
      [imageText]="card.imageText" [detailsData]="card.details"></app-detail-card>
    </div>
  </div>


  <ion-infinite-scroll #scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
