<app-modal-header title="Forgot Password" (dismiss)="dismissModal()"></app-modal-header>
<ion-content class="ion-padding ion-text-center">
  <div class="details">

    <div class="profile-avatar">
      <div class="picture">
        <ion-avatar class="ion-text-center">
          <ion-icon color="medium" name="add"></ion-icon>
        </ion-avatar>
      </div>
    </div>
    <br>

    <ion-text class="ion-text-left"><p>Fill in your username and your new passwword will be sent to your recovery email</p></ion-text>
    <form class="details-form">
      <mat-form-field class="field-form" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" [formControl]="formControl" autocomplete="off">
        <mat-error *ngIf="formControl.hasError('required')">Username is <strong>required</strong></mat-error>
        <mat-error *ngIf="formControl.hasError('maxlength')">Cannot exceed 50 characters</mat-error>
      </mat-form-field>

      <div class="btn-container ion-padding">
        <ion-button expand="block" (click)="resetPassword()" [disabled]="formControl.invalid">
          <ion-spinner *ngIf="isVerifying" name="crescent"></ion-spinner>
          <ion-text *ngIf="!isVerifying">Recover Password</ion-text>
        </ion-button>
      </div>

    </form>
  </div>

</ion-content>