.login-title{

  animation: solid-fill 1s ease forwards 4.5s;

  >path:nth-child(2){
    stroke-dasharray: 390;
    stroke-dashoffset: 390;
    animation: line-fill 4s forwards ease 0.2s;
  }
  >path:nth-child(3){
    stroke-dasharray: 256;
    stroke-dashoffset: 256;
    animation: line-fill 4s forwards ease 0.2s;
  }
  >path:nth-child(4){
    stroke-dasharray: 274;
    stroke-dashoffset: 274;
    animation: line-fill 4s forwards ease 0.2s;
  }
  >path:nth-child(5){
    stroke-dasharray: 233;
    stroke-dashoffset: 233;
    animation: line-fill 4s forwards ease 0.4s;
  }
  >path:nth-child(6){
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    animation: line-fill 4s forwards ease 0.4s;
  }
  >path:nth-child(7){
    stroke-dasharray: 259;
    stroke-dashoffset: 259;
    animation: line-fill 4s forwards ease 0.6s;
  }
  >path:nth-child(8){
    stroke-dasharray: 259;
    stroke-dashoffset: 259;
    animation: line-fill 4s forwards ease 0.6s;
  }
}

@keyframes line-fill {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes solid-fill {
  from{
    fill: transparent;
  }
  to{
    fill: #fff;
  }
}

