.detail-cards-container{
  margin: 20px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.detail-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}