<app-modal-header title="Reset Password" (dismiss)="dismissModal()"></app-modal-header>
<ion-content class="ion-padding ion-text-center">
 
  <div class="details">

    <div class="profile-avatar">
      <div class="picture">
        <ion-avatar class="ion-text-center">
          <ion-icon color="medium" name="key"></ion-icon>
        </ion-avatar>
      </div>
    </div>
    <br>
    <div class="divider"></div>
    <br>

    <form class="details-form" *ngIf="!isConfirmed">
      <mat-form-field class="field-form" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input [type]="hidePassword1 ? 'password' : 'text'" matInput [formControl]="confirmFormControl">

        <mat-error *ngIf="confirmFormControl.hasError('required')">Password is <strong>required</strong></mat-error>
        <mat-error *ngIf="confirmFormControl.hasError('invalid')">Password is <strong>invalid</strong></mat-error>
        
        <button mat-icon-button matSuffix (click)="hidePassword1 = !hidePassword1">
          <mat-icon>{{ hidePassword1 ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>
      
      <div class="btn-container ion-padding">
        <ion-button expand="block" (click)="verifyPassword()" [disabled]="confirmFormControl.invalid">
          <ion-spinner *ngIf="isConfirming" name="crescent"></ion-spinner>
          <ion-text *ngIf="!isConfirming">Confirm Password</ion-text>
        </ion-button>
      </div>
    </form>

    <form class="details-form" *ngIf="isConfirmed" [formGroup]="resetFormGroup">
      <mat-form-field class="field-form" appearance="outline">
        <mat-label>New Password</mat-label>
        <input [type]="hidePassword2 ? 'password' : 'text'" matInput formControlName="password" placeholder="Type in new password...">

        <mat-error *ngIf="resetFormGroup.get('password').hasError('required')">Password is <strong>required</strong></mat-error>
        <mat-error *ngIf="resetFormGroup.get('password').hasError('minlength')">Password is <strong>weak</strong></mat-error>
        <mat-error *ngIf="resetFormGroup.get('password').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
        
        <button mat-icon-button matSuffix (click)="hidePassword2 = !hidePassword2">
          <mat-icon>{{ hidePassword2 ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>
      
      <mat-form-field class="field-form" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input [type]="hidePassword3 ? 'password' : 'text'" matInput formControlName="confirmPassword">

        <mat-error *ngIf="resetFormGroup.get('confirmPassword').hasError('confirm')">Confirm password does not match password</mat-error>
        
        <button mat-icon-button matSuffix (click)="hidePassword3 = !hidePassword3">
          <mat-icon>{{ hidePassword3 ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="btn-container ion-padding">
        <ion-button expand="block" (click)="resetPassword()" [disabled]="resetFormGroup.invalid">
          <ion-spinner *ngIf="isResetting" name="crescent"></ion-spinner>
          <ion-text *ngIf="!isResetting">Reset Password</ion-text>
        </ion-button>
      </div>
    </form>


  </div>
</ion-content>
