<app-modal-header title="Add Courses" (dismiss)="dismissModal()"></app-modal-header>

<ion-content class="ion-padding  main-content">

  <div class="" *ngIf="hasClass">

    <mat-toolbar class="header secondary">
      
      <div class="search-form ion-padding">
        <ion-item lines="none">
          <ion-input [placeholder]="'Search for course to add to ' + className +'...'" [(ngModel)]="searchString" (ngModelChange)="search()" debounce="1000"></ion-input>
        </ion-item>
      </div>

      <div class="toolbar-underline"></div>
    </mat-toolbar>

    <ion-text *ngIf="showError"><h5 class="ion-padding ion-text-center">{{ errMessage }}</h5></ion-text>
    <div *ngIf="isLoading" class="ion-padding ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div class="detail-cards-container">
      <div class="detail-card" *ngFor="let card of filterCards">
        <app-detail-card (btnClick)="add(card)"
        [showImage]="card.showImage" [altImage]="card.altImage" [imgSrc]="card.imageSrc" btnText="Add"
        [imageText]="card.imageText" [detailsData]="card.details"></app-detail-card>
      </div>
    </div>
  </div>


  <ion-infinite-scroll #scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>